config/ewwii/coverart.png
config/ewwii/info.txt
config/mpv/script-opts/uosc.conf
config/pcmanfm-qt/default/recent-files.conf
config/foot/foot.ini
config/wiremix/wiremix.toml
config/ewwii/style.rhai
config/ewwii/theme.scss
config/hypr/theme.conf
config/hypr/wallppr.png
config/mako/config
config/qutebrowser/__pycache__/
config/qutebrowser/newtab/static/theme.css
config/qutebrowser/theme.py
config/rofi/theme.rasi
config/waybar/config
config/waybar/style.css
config/waybar/theme.css
config/wlogout/theme.css
config/yazi/theme.toml
