// Theme (Gnome)

$fg_main: #F7F3F7;
$fg_unactive: #928374;

$border_main: #101010;
$border_alt: #101010;

$bg_main: #101010;
$bg_alt: #262626;
$bg_hover: #383838;
$bg_hover_alt: #665c54;
$bg_tooltip: #3c3836;
$bg_second: #504945;
$bg_third: #898888;

$ply_main: #665c54;
$ply_hover: #83A598;
$ply_act: #3C3836;
$msc_act: #b8bb26;

$wlogout_hover: rgba(60, 56, 54, 0.54);
$wlogout_bg: rgba(60, 56, 54, 0.45);
$wlogout_button: rgba(60, 56, 54, 0.78);

$border_rad:  12px; // Main border radius
$border_rad2: 12px; // Second
$border_radb: 12px; // Button
$border_rads: 12px; // Scale
