// Base border color
$border_main: transparent;
$border_alt:  #01AFFF;

// Background Colors
$bg_main:      #101010;
$bg_alt:       #1A1A2A;  
$bg_hover:     #1F1F38; 
$bg_hover_alt: #181827;
$bg_tooltip:   $bg_main;
$bg_second:    #222233;
$bg_third:     #2A2A44;
$sway-bg:      $bg_main;

// Text color for entries, views and content in general
$fg_main:      #ffffff;
$fg_unactive:  #2D2D40;
$content-act:  #6FBFFF;

// Player colors
$ply_main:   #151522;
$ply_hover:  #1C1C33;
$ply_act:    #2A2A44;

$border_rad:  0px; // Main border radius
$border_rad2: 0px; // Second
$border_radb: 4px; // Button
$border_rads: 2px; // Scale
