// Pastel Weeb Theme

$fg_main: #CACACA;

$border_main: #404040;
$border_alt: $border_main;

$bg_main: #212326;
$bg_alt: #171717;
$bg_hover: #4A4A4A ;
$bg_hover_alt: #545454;
$bg_tooltip: $bg_main;
$bg_second: #333333;
$bg_third: #707070;

$ply_main: #25253B;
$ply_hover: #363657;
$ply_act: #515181;

$border_rad:  3px; // Main border radius
$border_rad2: 3px; // Second
$border_radb: 5px; // Button
$border_rads: 5px; // Scale
