// Akaiyama Theme

$border_main: #C6083A;
$border_alt: #8B1A2A;

$bg_main: #515659;
$bg_alt: #696f72;
$bg_hover: #414447;
$bg_hover_alt: #937777;
$bg_tooltip: $bg_main;
$bg_second: #474a4c;
$bg_third: $bg_alt;

$fg_main: #FFCACA;
$fg_unactive: $bg_hover;
$content-act: #C42750;

$ply_main: #847a8a;
$ply_hover: #3D4043;
$ply_act: #606568;

$border_rad:  10px; // Main border radius
$border_rad2: 20px; // Second
$border_radb: 10px; // Button
$border_rads: 5px; // Scale
