:root {
  --border-main: @fg-main;
  --border-alt: @fg-main;
  --bg-main: #1A1B29;
  --bg-alt: #939CDA;
  --bg-hover: #484872;
  --bg-hover-alt: #30304D;
  --bg-tooltip: @bg-main;
  --bg-second: #33334C;
  --bg-third: #939CDA;
  --sway-bg: @bg-main;
  --fg-main: #B4BEFE;
  --fg-unactive: @bg-hover;
  --content-act: #CDD4FF;
  --ply-main: #25253B;
  --ply-hover: #363657;
  --ply-act: #515181;
  --msc-act: #424268;
  --wlogout-hover: rgba(37, 37, 68, 0.541);
  --wlogout-bg: rgba(17, 17, 17, 0.45);
  --wlogout-button: rgba(17, 17, 27, 0.781);
}
