@use "theme" as theme;

/* Riftbar Style Configuration */

/* Global reset */

@import "../../resources/styles/riftbar/default"

/* Riftbar main container */
.main {
    margin: 0px;
	color: theme.$fg_main;
    background: theme.$bg_main;
}

/* Workspaces */
.workspaces {
	border-radius: theme.$border_radb;
	padding: 3px 10px; 

	button {
		transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
		padding: 0px 4px;
		margin: 6px 4px;
		color: transparent;
        font-family: "CaskaydiaMono Nerd Font";
		background-color: theme.$fg_unactive;
        border-radius: theme.$border_rad;
        
        label {
          color: transparent;
        }

		&.active {
          	background-color: theme.$fg_main;
			padding: 0px 18px;
		}

		&:hover {
			background: theme.$bg_hover;
			color: transparent;
		}
	}
}

.clock {
	padding: 0px 7px;
	margin: 0px 6px;

	label {
		font-family: "Ubuntu Nerd Font";
		font-size: 13px;
		font-weight: 500;
	}
}

.box-quicksettings {
  background-color: transparent;
}

/* OSD */
.osd {
  background-color: transparent;
}

.box-osd {
  border: 2px solid theme.$border_main;
  background-color: theme.$bg_main;
  margin: 0px;
  padding: 4px 10px;
  .audio {
    label {
      font-size: 18px;
    }
  }
}

.slider-osd {
  min-width: 200px;
  margin: 12px 10px;
  
   trough {
    background-color: theme.$bg_hover_alt;
    border-radius: theme.$border_rads;
    min-width: 7px;
    min-height: 7px;
    fill {
      color: theme.$fg_main;
    }
  }

  highlight {
      background-color: theme.$fg_main;
      border-radius: theme.$border_rads;
    }
}


/* OSD */
.osd {
  background-color: transparent;
}

.box-osd {
  border: 2px solid theme.$border_main;
  background-color: theme.$bg_main;
  margin: 0px;
  padding: 4px 10px;
  .audio {
    label {
      font-size: 18px;
    }
  }
}

.slider-osd {
  min-width: 200px;
  margin: 12px 10px;
  
   trough {
    background-color: theme.$bg_hover_alt;
    border-radius: theme.$border_rads;
    min-width: 7px;
    min-height: 7px;
    fill {
      color: theme.$fg_main;
    }
  }

  highlight {
      background-color: theme.$fg_main;
      border-radius: theme.$border_rads;
    }
}

